---
const { block } = Astro.props;
---

<div class="text-center py-16 bg-white">
	<p class="text-blue-600 font-medium">{block.subHeading}</p>
	<h2 class="text-3xl md:text-4xl font-bold mt-2">{block.heading}</h2>
</div>
